//widget
.widget{
    background:$light-blue;
    margin-bottom: $xl-size;
}

.widget__message{
    color: $off-white;
    margin :0;//reset margin to 0
    padding: $l-size;
    text-align: center;
    border-bottom: 1px solid lighten($light-blue ,10%); 
}

//widget header
.widget-header{
    background: $blue;
    color: $off-white;
    //flex
    display: flex;
    justify-content: space-between;
    //pushing element into outer
    padding: $m-size;
}

.widget-header__margin{
    margin: 0 ;
}